.counter {
  display: flex;
  border: 1px solid black;
  gap: 1rem;
  max-width: fit-content;
  padding: 1rem;
}

.count {
  display: flex;
  align-items: center;
}

.button {
  padding: 0.5rem;
  border: 1px solid black;
  background: #fff;
}

.button:hover {
  background: #eee;
}

.button:active {
  background: #ddd;
}